.grid-view table th a.desc {
	background: url(down.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table th a.asc {
	background: url(up.gif) right center no-repeat;
	padding-right: 10px;
}
.form-control {
	width: 60%;
}

.errorMessage, .errorSummary {
	color: red;
}