assets/
protected/runtime/
protected/admin/runtime/
nbproject/
.idea/
uploads/
!protected/extensions/yii-debug-toolbar/assets/
!protected/extensions/yii-elfinder/assets/
!protected/extensions/timepicker/assets/