assets/
protected/runtime/
protected/admin/runtime/
nbproject/
.idea/
uploads/
backend.php
*db.php
protected/config/db.php
!protected/extensions/yii-debug-toolbar/assets/
!protected/extensions/yii-elfinder/assets/
!protected/extensions/timepicker/assets/
!protected/extensions/yii-selectize/assets/
!protected/extensions/yii-redactor/assets/