.grid-view table th a.desc {
	background: url(down.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table th a.asc {
	background: url(up.gif) right center no-repeat;
	padding-right: 10px;
}
.form-control {
	width: 60%;
}

.errorMessage, .errorSummary {
	color: red;
}
.selectize-input {
    font-size: 14px;
    height: 34px;
}
.pager li>a, .pager li>span {
	border-radius:0;
}
.pager .next>a, .pager .next>span {
	float: left;
}
.nav a {
	color: #fff;
}


.nav>li>a:hover, .nav>li>a:focus {
	color: #18bc9c;
	background-color: #202d3b;
}

.navbar-collapse {
	max-height: 600px;
}

.navbar-nav {
	margin-right: 10px
}
.breadcrumbs {
	padding: 17px 0 0;
}